!!! Transitional
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    = stylesheet_link_tag "application", :media => "all"
    %title= title "Data entry page"
  %body
    .container
      = yield
    = yield :script
